@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
    --color-primary: #13353e;
    --color-secondary: #d64000;
    --color-tertiary: #F1EFE8;
    --font-lora: "Lora", sans-serif; 
    --font-mont: "Montserrat", sans-serif; 
  }


